body  {
  background-image: url("bg1.jpg");
  background-repeat: no-repeat;
  background-size: 120% 120%;
  font-family: 'ubuntu',sans-serif;
}
.main {
  background-color: white;
  margin: 10% auto;
  border-radius: 25%;
  width: 25%;
  height: 60%;
}
.header{
    margin-left: 0%;
    margin-top: -79%;
    margin-bottom: -1%;
    background-color: cyan;
}
.sign {
  padding-top: 10%;
  color: purple;
  font-family: 'ubuntu',sans-serif;
  font-size: 150%;
  font-weight: 800;
}

.user {
  font-family: 'ubuntu',sans-serif;
  font-size: 14px;
  font-weight: 700;
  padding: 10px,20px;
  text-align: center;
  outline: none;
  border-radius: 10em;
  padding-left: 10px;
  padding-top: 8px;
  padding-right: 13px;
  padding-bottom: 8px;
  /*border: 2px solid rgba(0, 0, 0, 0.02);*/
  box-shadow: 10px;
  border-radius: : 20px;
  margin-left: 70px;
  margin-top: 30px;
  box-shadow: 80px;
  box-sizing: border-box;
}

.pass {
  font-family: 'ubuntu',sans-serif;
  font-size: 14px;
  font-weight: 700;
  padding: 10px,20px;
  text-align: center;
  border-radius: 10em;
  padding-left: 10px;
  padding-top: 8px;
  padding-right: 13px;
  padding-bottom: 8px;
  outline: none;
  /*border: 2px solid rgba(0, 0, 0, 0.02);*/
  border-radius: : 20px;
  margin-left: 70px;
  margin-top: 50px;
  box-shadow: 80px;
  box-sizing: border-box;
}

.submit{
  cursor: pointer;
  font-family: 'ubuntu',sans-serif;
  background-color: purple;
  color: white;
  padding-left: 33px;
  padding-top: 8px;
  padding-right: 33px;
  padding-bottom: 8px;
  margin-left: 110px;
  margin-top: 40px;
  text-align: center;
  border-radius: 5em;
}

.submit:hover {
  background-image: none !important;
  background-color: black;
}

.forgot {
  font-family: 'ubuntu',sans-serif;
  font-size: 14px;
  font-weight: bold;
  margin-top: 20px;
  color: black;
}
